<!--<div *ngFor="#notification of notifications" class="box {{type}}" [ngClass]="{'animate': notify}" (mouseenter)="clear()" (click)="notify = !notify">-->
    <!--<img src="assets/images/close.svg" class="close" alt="" (click)="notify = !notify">-->
    <!--<div class="content">-->
        <!--{{ message }}-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus velit dolor-->
    <!--</div>-->
<!--</div>-->

<ul>
    <li *ngFor="#notification of notifications" [ngClass]="{'animate': notification.notify}" (mouseenter)="clear()" (click)="notification.notify = !notification.notify">
        <div class="box {{notification.type}}" (mouseenter)="clear()" (click)="notification.notify = !notification.notify">
            {{ notification.message }}
        </div>
    </li>
</ul>